// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Vant
@import "vant/lib/index.css";

//vant
.van-uploader__upload-icon {
    color: white;
    font-size: 30px;
}
.van-uploader__preview-delete {
    background-color: black;
}
.van-uploader__preview-delete-icon {
    color: white;
}
.van-uploader__preview-image,
.van-uploader__file {
    margin: 0px;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    border: 2px solid grey;
}
.van-uploader__preview {
    margin: 0px;
}
.van-uploader__upload {
    border-radius: 5px;
    width: 150px;
    height: 150px;
    background-color: rgb(229, 226, 226);
}
